body {
    text-align: center;
}

table {
    margin-left: 50%;
    transform: translate(-50%);
    width: 50px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

#vazio {
    border: none;
}

.zebra {
    background-color: rgb(165, 165, 165);
}