:root {
    --cor0: green;
    --cor1: aquamarine;
    --cor2: gray;
    --cor3: aqua;
}

body {
    background-color: aquamarine;
    margin: 0;
    overflow-x: hidden;
}

body p {
    text-indent: 20px;
    line-height: 1em;
}

header {
    text-align: center;
    background-image: linear-gradient(to top, var(--cor0) , var(--cor1));
    width: 100vw;
    margin: 0;
}

header > h1 {
    padding: 10px;
    margin: 0;
    background-color: var(--cor2);
}

.nav-list {
    display: flex;
    list-style: none;
    margin-left: 20px;
}

.nav-list li {
    
    margin-left: 20px;
    padding: 10px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
 
}

.nav-list :hover li   {
    background-color:rgba(0, 255, 255, 0.5);
    color: black;
    transition: .5s;
    border-radius: 3px;
}

.conteudo {
    margin: 0px 10% 20px 10%;
    background-color: white;
    border-radius: 0 10px ;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px;
}

.conteudo p {
    text-align: justify;
}

.conteudo img {
    max-width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
}

.conteudo iframe {
    border-radius: 10px;
}

.youtu {
    background-color: blueviolet;
    margin: 20px -20px;
    padding: 20px 0px;

}

.youtu iframe {
    margin-left: 50%;
    transform: translate(-50%);
    width: 90%;
}

.sla {
    margin: 10% 0%;
    background-color: aqua;
    border-radius: 10px;
}

.sla h1 {
    padding: 10px;
    background-color: green;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.sla p {
    padding: 10px;
}

.ulist {
    list-style: georgian;
}

.ulist ul{
    list-style-type: '\2724\00a0\00a0';
    columns: 2;
}

footer p {
    margin: 0;
    text-align: center;
    background-color: green;
    width: 100%;
    font-size: 1.5rem;
}

