@charset "utf-8";

/* Tablet*/

@media screen and (orientation:portrait) and (min-width:768px) and (max-width:1920px) {
   main {
    height: 400px;
    width: 500px;
   }

   form {
    height: 400px;
    width: 250px;
    margin: 0 0 0 50%;
    border-radius: 0px 20px 20px 0px;
   }

   legend {
    margin-top: 40px
   }

   p {
    border: 2px solid rgb(189, 25, 151);
    box-shadow: 2px 2px 4px rgb(180, 6, 50);
    padding: 10px;
    border-radius: 10px;
   }

   .campao {
    margin-top: 40px;
   }

   .campinho {
    margin-top: 40px;
   }

   .campo3 {
    display: flex;
    flex-direction: row;
   }

   .campo3 .esqueci {
    width: 50%;
    margin: auto;
    font-size: .9em;
   }

   .esqueci a {
    margin-left: -55px;
   }

   .campo3 input {
    height: 40px;
    width: 50%;
    border-radius: 5px;
    margin: auto;
}
    
}

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1920px) {
    main {
        height: 700px;
        width: 800px;
       }
    
       form {
        height: 700px;
        width: 500px;
        margin: 0 0 0 40%;
        border-radius: 0px 20px 20px 0px;
       }
    
       legend {
        margin-top: 30px
       }
    
       p {
        border: 2px solid rgb(189, 25, 151);
        box-shadow: 2px 2px 4px rgb(180, 6, 50);
        padding: 10px;
        border-radius: 10px;
        font-size: 1.5em ;
       }
    
       .campao {
        margin-top: 80px;
       }

       .campo input {
        height: 50px;
        width: 400px;
       }

       .campo span {
        color: white;
        position: absolute;
        padding: 0;
        margin: 12px ;
    }
    
       .campinho {
        margin-top: 80px;
       }

       .campo3 {
        display: flex;
        flex-direction: row;
       }

       .campo3 .esqueci {
        width: 40%;
        margin: auto;
       }

       .campo3 input {
        height: 40px;
        width: 40%;
        border-radius: 5px;
        margin: auto;
    }

}

/* .campinho {
        margin-top: 80px;
       }

       .campo3 {
        display: flex;
        flex-direction: row;
       }

       .campo3 .esqueci {
        width: 40%;
        margin: auto;
       }

       .campo3 input {
        height: 40px;
        width: 40%;
        border-radius: 5px;
        margin: auto;
    }*/